doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', type='text/css', href='/css/style.css')
    link(rel='shortcut icon' href='/img/utils/favicon.png' type='image/png')
    link(href='https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;1,100;1,300&display=swap', rel='stylesheet')
    title Jar | #{title}
  body
    include _header
    main.main
      section.appContainer
        block content
       
  script(src="/js/production/bundle.js" type="text/javascript")
  












