extends overview

block midContent
      .defaultBox
          h2.defaultBox__heading Welcome Welcome Welcome !!
          ul.defaultBox__navList
            li.defaultBox__listItem
              h4.defaultBox__instructions You can create rooms by clicking on "Create Room" Button
            li.defaultBox__listItem
              h4.defaultBox__instructions You can enter any room you have joined from left panel
            li.defaultBox__listItem
              h4.defaultBox__instructions You can update your details by clicking on "Your Name"
            li.defaultBox__listItem
              h4.defaultBox__instructions You can search for rooms from the "Search Bar"   
      
