head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=<>, initial-scale=1.0')
  title Jar | #{title}
  link(rel='stylesheet', type='text/css', href='/css/style.css')
  link(rel='stylesheet', type='text/css', href='/css/styleButton.css')
.loader-bg
  .loader-p
header.header
  .row.clearfix
    .header__logoBox
      img.header__logo(src='/img/utils/origLogo.png' alt='Logo')
    .header__contentBox
      a.btn.hover-in-shadow.header__contentBox--(href='') Home
      a.btn.hover-in-shadow.header__contentBox--(href='#') About
      a.btn.hover-in-shadow.header__contentBox--(href='#') Contact Us
      a.btn.hover-in-shadow.header__contentBox--(href='/login') Log-In
      a.btn.hover-in-shadow.header__contentBox--(href='/signup') Sign-Up
main.main
  section.appContainer
footer.footer
  | &copy; JAARR | All Rights Reserved
  br
  a(href='/contactUs') Contact Us
    
